body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.clock {
    text-align: center;
}

#time {
    font-size: 4rem;
}

#date {
    font-size: 1.2rem;
}